{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Bar Simpson</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, laudantium. Unde similique sequi molestias! Porro voluptate ratione exercitationem similique ex eveniet excepturi labore culpa, vitae unde, delectus sapiente dolor nulla.</p>
  </div>
<div class="col-4">
  <img src="../assets/img/bart.png" alt="Bart Simpson" class="img-thumbnail" width="200">
</div>
</div>

{{>footer }}